node_modules
dist
test
coverage
.nyc_output
*.log
data/*
.env*
.DS_Store
.jest
.vscode
reports
releases.json
package_list.json
dependencies_list.json
*.tsbuildinfo
*.csv
junit.xml
state.json
bin/istioctl
certs
**/istio-*
temp
**/docs/api